@media screen and (max-width: 900px) {
    .agendar-box-modal {
        position: fixed;
        height: 50%;
        width: 70%;
        background-color: rgb(38, 41, 41);
    
        border-radius: 7px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {

    /*Header*/
    .dentro-header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    

    }

    header {
        height: 120px;
    }

    .header-logo-box {
        height: auto;
    }

    header nav {
        margin-top: 10px;
    }

    header nav ul li a {
        margin-left: 0;
        margin-right: 25px;
    }

    header nav ul li a:active::after {
        width: 100%;
    }

    /*Footer*/

    footer {
        display: block;
        height: auto;

        padding-top: 70px;
        padding-bottom: 70px;

    }

    .dentro-footer {
        flex-wrap: wrap;
        align-items: unset;
    }

 

    .footer-image-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        
    }
        .footer-image-box img {
            opacity: 0.7;
        }

    .footer-links-rapidos, .footer-redes-sociais {
        width: 50%;
    }

    .footer-links-rapidos h3, .footer-redes-sociais h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }


    /*Agendar modal*/
    .agendar-box-modal {
        padding: 30px;

    }

    .agendar-box-modal-botoes-box {
        height: calc(100% - 32px - 25px);
        margin-top: 20px;
        width: 100%;
    
        display: block;
        position: relative;
    }

    .agendar-box-modal h1 {
        font-size: 20px;
    }

    .agendar-box-modal-botao-agendar {
        font-size: 17px;
    }

    .agendar-box-option i {
        width: 25%;
        font-size: 25px;
    }
    
    .agendar-option-nome {
        font-size: 19px;
    }

}